# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Django
*.log
db.sqlite3
media/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Static files (optional if you collectstatic)
staticfiles/

# Migrations (optional — see note below)
# */migrations/*.py
# !*/migrations/__init__.py